@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap');

body{
  margin: 0%;
  padding: 0%;
  font-family: "Lato", sans-serif;
  background-color: beige;
}

.wrapper{
  display: grid;
  /* place-items: center; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 

              "image incorrect-words ."
              "image guesses .";
  gap: 50px 100px;
}

.UnderlineText{
  margin-left: 10px;
  margin-right: 10px;
  width: 1cm;
  height: 1cm;
  font-size: 1.5em;
  text-align: center;
  border-bottom: 3px solid black;
}

.incorrect-words-wrapper{
  font-size: 1.5em;
  margin-top: 50px; 
  grid-area: incorrect-words;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 
                  "Title Title Title Title Title Title Title Title";
}

.letter-wrapper{
  font-size: 1.5em;
  grid-area: guesses;
  display: grid;
  grid-template-columns: repeat(8, 0.2fr);
  grid-template-rows: repeat(2, 100px);
  grid-template-areas: 
                  "Title Title Title Title Title Title Title Title";
}

.hangman-pic{
  grid-area: image;
  height: inherit;
  margin-top: 150px;
  display: grid;
  place-items: center;
}

.Incorrect-Guess-Title{
  grid-area: Title;
  margin-left: 10px;
}

.Letter-title{
  grid-area: Title;
  margin-left: 10px;
}

.modal-you-win{
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ."
                       ". content ."
                       ". . ."; */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: -200px;
  align-items: center;
  justify-content: center;
}

.modal-you-lose{
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ."
                       ". content ."
                       ". . ."; */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: -200px;
  align-items: center;
  justify-content: center;
}

.modal-content{
  /* grid-area: center; */
  display: grid;
  place-items: center;
  margin-top: -200px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.button-play-again{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: white;
  width: 150px;
  height: 100px;
  font-size: 20px;
  border-radius: 4px;
}

.button-play-again:hover{
  background-color: rgb(0, 0, 0);
  border: white 2px solid;
  color: white;

}

.hidden{
  display: none;
}