body{
  margin: 0%;
  padding: 0%;
}

.wrapper{
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 
              "image incorrect-words incorrect-words"
              "image guesses guesses";
}

.incorrect-words-wrapper{
  grid-area: incorrect-words;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: 
                  "Title Title Title Title Title Title Title Title"
                  "letter1 letter2 letter3 letter4 letter5 letter6 letter7 letter8";
}

.hangman-pic{
  grid-area: image;
}

.Incorrect-Guess-Title{
  grid-area: Title;
}

.letter-wrapper{
  grid-area: guesses;
}

.incorrect-word1{
  grid-area: letter1;
}

.incorrect-word2{
  grid-area: letter2;
}

.incorrect-word3{
  grid-area: letter3;
}

.incorrect-word4{
  grid-area: letter4;
}

.incorrect-word5{
  grid-area: letter5;
}

.incorrect-word6{
  grid-area: letter6;
}

.incorrect-word7{
  grid-area: letter7;
}

.incorrect-word8{
  grid-area: letter8;
}